@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto_thin_macroman/Roboto-Thin-webfont.woff') format('woff'),
         url('../fonts/roboto_thin_macroman/Roboto-Thin-webfont.ttf') format('truetype'),
         url('../fonts/roboto_thin_macroman/Roboto-Thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.addStation {
  background-image: url( '../img/icons/add.png' );
  background-size: 16px 16px;
  float : left;
  height: 20px;  
  margin : 5px
  width: 20px;
}

.blued0 {
  background-image: url( '../img/dice/blued0.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.blued1 {
  background-image: url( '../img/dice/blued1.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.blued2 {
  background-image: url( '../img/dice/blued2.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.blued3 {
  background-image: url( '../img/dice/blued3.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.blued4 {
  background-image: url( '../img/dice/blued4.png' );
  background-size: 20px 20px;
  height: 25px;
  margin : 5px
  max-width: 25px;
}

.blued5 {
  background-image: url( '../img/dice/blued5.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.blued6 {
  background-image: url( '../img/dice/blued6.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.greend0 {
  background-image: url( '../img/dice/greend0.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.greend1 {
  background-image: url( '../img/dice/greend1.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.greend2 {
  background-image: url( '../img/dice/greend2.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.greend3 {
  background-image: url( '../img/dice/greend3.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.greend4 {
  background-image: url( '../img/dice/greend4.png' );
  background-size: 20px 20px;
  height: 25px;
  margin : 5px
  max-width: 25px;
}

.greend5 {
  background-image: url( '../img/dice/greend5.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.greend6 {
  background-image: url( '../img/dice/greend6.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.greend7 {
  background-image: url( '../img/dice/greend7.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.greend8 {
  background-image: url( '../img/dice/greend8.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.redd0 {
  background-image: url( '../img/dice/redd0.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.redd1 {
  background-image: url( '../img/dice/redd1.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.redd2 {
  background-image: url( '../img/dice/redd2.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.redd3 {
  background-image: url( '../img/dice/redd3.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.redd4 {
  background-image: url( '../img/dice/redd4.png' );
  background-size: 20px 20px;
  height: 25px;
  margin : 5px
  max-width: 25px;
}

.redd5 {
  background-image: url( '../img/dice/redd5.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.redd6 {
  background-image: url( '../img/dice/redd6.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.redd7 {
  background-image: url( '../img/dice/redd7.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.redd8 {
  background-image: url( '../img/dice/redd8.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.yellowd0 {
  background-image: url( '../img/dice/yellowd0.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.yellowd1 {
  background-image: url( '../img/dice/yellowd1.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.yellowd2 {
  background-image: url( '../img/dice/yellowd2.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.yellowd3 {
  background-image: url( '../img/dice/yellowd3.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.yellowd4 {
  background-image: url( '../img/dice/yellowd4.png' );
  background-size: 20px 20px;
  height: 25px;
  margin : 5px
  max-width: 25px;
}

.yellowd5 {
  background-image: url( '../img/dice/yellowd5.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.yellowd6 {
  background-image: url( '../img/dice/yellowd6.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.blued0 {
  background-image: url( '../img/dice/blued0.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.whited1 {
  background-image: url( '../img/dice/whited1.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.whited2 {
  background-image: url( '../img/dice/whited2.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.whited3 {
  background-image: url( '../img/dice/whited3.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.whited4 {
  background-image: url( '../img/dice/whited4.png' );
  background-size: 20px 20px;
  height: 25px;
  margin : 5px
  max-width: 25px;
}

.whited5 {
  background-image: url( '../img/dice/whited5.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

.whited6 {
  background-image: url( '../img/dice/whited6.png' );
  background-size: 20px 20px;
  height: 20px;
  margin : 5px
  max-width: 20px;
}

body {
  background: #eee;
}
h1, h2, h3, legend {
  font-family: 'robotothin', sans-serif;
}
h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 1.2em;
}
.container {
  padding: 0;
  margin: 0 auto;
}
.pageSection {
  padding: 2rem;
}
div.largeButton {
  display: inline-block;
}
a.largeButton,
a.largeButton:link,
a.largeButton:visited {
  background: #fff;
  color: #900;
  border: solid 0.5rem #900;
  border-radius: 0 2rem 0 2rem;
  padding: 1rem;
  margin: 0 1rem 1rem 0;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.5);
}
a.largeButton:hover,
a.largeButton:active,
a.largeButton:focus {
  background: #900;
  color: #fff;
  text-decoration: none;
}

/* Titlebar */
.pageTitle {
  background: #900;
  color: #fff;
  margin: 0;
  min-height: 6rem;
  padding: 1rem 2rem;
  position: relative;
}

a.backButton,
a.backButton:link,
a.backButton:visited {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: #900;
  text-decoration: none;
  padding: 1rem;
}
a.backButton:hover,
a.backButton:active,
a.backButton:focus {
  background: #aaa;
}
a.backButton span {
  font-size: 2em;
  line-height: 1;
  color: #fff;
  background: url('../img/moF0LittleGuy/MoF0LittleGuy_200_225.png') no-repeat right center transparent;
  background-size: auto 100%;
  border-radius: 2rem;
  display: block;
  padding: 0 3.5rem 0 0;
  margin: 0;
}

.companyCheckbox {

}

.pageTitle .title {
  display: block;
  font-weight : bold;
  margin: 1rem 0 1rem 5rem;
}


/* Home page */
.home a.backButton {
  text-indent: -1000em;
  margin-left: 0.5rem;
}
.home h2 {
  display: inline-block;
  margin: 1rem;
}
body.home {
  background: #e2e2e2;
}
.home .menu h2,
.home .menu div {
  display: block;
}
legend .menu {
	font-family: sans-serif;
	font-weight : bold;
}

.formattedStartTime {
  color: #333;
  float : left;
  font-weight: bold;
  margin-bottom : 1rem;
  margin-right : 2rem;
  margin-top : 1rem;
}

/* Frame detail page */
.framedetail .table .radio {
  margin: 0;
}
.framedetail .table .radio label {
  display: block;
  padding: 10px;
}
.framedetail .systemDiceZone {
  display: inline-block;
}
.framedetail .systemDie {
  display: inline-block;
  margin: 0 0.5rem 0.5rem 0;
}

.gameRoundsBar {
  background-color : #fff;
  border : 0rem solid;
  border-radius: 2rem;
  /*color : #666;*/
  display: inline-block;
  padding : 1rem;
  width : 100%;
}

/* Setup Battlefield page */
#accordion .panel-heading {
  padding: 0;
}
#accordion .panel-title span {
  display: block;
  padding: 1rem;
}

img.mf0CompanyBigPicture {
  background-color : #fff;
  border : 0.5rem solid;
  border-color : #bc252a;
  border-radius: 3rem;
  display:inline-block;
  height:auto;
  width : 30rem;
}
img.mf0CompanyThumbnail {
  background-color : #fff;
  border : 0.25rem solid;
  border-color : #bc252a;
  border-radius: 2rem;
  display:inline-block;
  height:auto;
  width : 10rem;
}
img.mf0FrameBigPicture {
  background-color : #fff;
  border : 0.5rem solid;
  border-color : #bc252a;
  border-radius: 3rem;
  display:inline-block;
  height:auto;
  width : 30rem;
}
img.mf0FrameThumbnail {
  background-color : #fff;
  border : 0.25rem solid;
  border-color : #bc252a;
  border-radius: 2rem;
  display:inline-block;
  height:auto;
  width : 10rem;
}
.mf0SmallNumericInput {
  text-align : right;
  width : 4rem;
}

.nextRoundButton {

}

.nbStations {
  float : left;
}

.nbStationsLabel {
  float : left;
}

.removeStation {
  background-image: url( '../img/icons/delete.png' );
  background-size: 16px 16px;
  height: 20px;
  margin : 5px
  width: 20px;
}

.roundsUntilDoomsDay {
  color: #333;
  float : left;
  font-weight: bold;
  margin-bottom : 1rem;
  margin-right : 2rem;
  margin-top : 1rem;
}

.roundsUntilDoomsDayLabel {
  float : left;
  margin : 1rem;
}

div.smallButton {
  display: inline-block;
}

a.smallButton,
a.smallButton:link,
a.smallButton:visited {
  background: #fff;
  color: #900;
  border: solid 0.35rem #900;
  border-radius: 0 2rem 0 2rem;
  padding: 1rem;
  margin: 0 1rem 1rem 0;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.5);
}
a.smallButton:hover,
a.smallButton:active,
a.smallButton:focus {
  background: #900;
  color: #fff;
  text-decoration: none;
}

.startTimeLabel {
  float : left;
  margin : 1rem;
}

.systemDiceZone {
  background-color : #fff;
  border : 0.2rem solid;
  border-radius: 0.5rem 0.5rem;
  color : #bc252a;
  float : left;
  margin : 0.5rem 0.5rem 0.5rem 0.5rem;
  padding : 0.1rem;
}
.systemDie {
  float : left;
  margin : 0.1rem 0.1rem 0.1rem 0.1rem;
}
.systemRow {
  background-color : #fff;
  border : 0.2rem solid;
  border-radius: 0.5rem 0.5rem;
  color : #bc252a;
  margin : 0.2rem;
  padding : 0.1rem;
}
.tableHeader {
  text-align : center;
}

/* Gameplay page */
.company-view {
  padding: 0 1rem 1rem;
}
.frames-view h3 {
  font-size: 1em;
  border-top: solid 1px #eee;
  padding-top: 0.5rem;
}
.initiative {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1rem;
}
.sys-panel {
  display: inline-block; margin: 0 0.5rem 0.5rem 0;
}

.rollingDice {
  background-image: url( '../img/icons/rollingDice.png' );
  background-size: 20px 20px;
  height: 25px;
  margin : 5px
  width: 25px;
}

.systemDamage {
  background-image: url( '../img/icons/damage.png' );
  background-size: 20px 20px;
  height: 25px;
  margin : 5px
  width: 25px;
}

.frameSystem {
  margin: 0 0.5rem 0.5rem 0;
}