.pageSection {
  border : 2px solid;
  border-color : #bc252a;
  border-top-right-radius: 20px 20px;
  border-bottom-left-radius: 20px 20px;
  margin : 5px;
  padding : 5px;
  width : 95%;
}

.pageTitle {
  border-style : solid;
  border-bottom-width : 5px;
  border-left-width : 0px;
  border-right-width : 0px;
  border-top-width : 0px;
  color : #bc252a;
  font-size : 4rem;
  font-weight : bold;
  margin : 5px;
  width : 90%;
}