/*{
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
}*/

/*a.active {
 background: #AAA;
}
element.addEventListener('touchstart',function(e) {
 e.currentTarget.className = "active";
});*/

.backButton {
  background-color : #e2e2e2;
  border : 2px solid;
  border-color : #bc252a;
  border-top-left-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
  margin-bottom : 30px;
  margin-left : 0px;
  margin-right : 5px;
  margin-top : 30px;
  padding-bottom : 15px;
  padding-left : 10px;
  padding-right : 10px;
  padding-top : 12px;  
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .backButton {
    margin-bottom : 20px;
  }
}

a.backButton:hover {
  background-color : #666;
  border : 4px solid;
  border-color : #f99;
  color: #f99;
}

a.backButton:active {
  border-color : #bc252a;
  color: #bc252a;
}

body {
  background : url("../img/backgrounds/legoStud/legoStud_Lighter_50_36_36.png") repeat;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  body {
    background : url("../img/backgrounds/legoStud/legoStud_Lighter_50_24_24.png") repeat;
  }
}


ul.bulletPoint {
  list-style-image:url('../img/icons/bulletPoint.png');
}

.columnLabel {
  font-weight : bold;
}

/*.comingSoon {
  background : url("../img/icons/comingSoon.png") no-repeat center right;	
  padding-right : 50px;
}*/

a.companyNameLink {
  color: #bc252a;
  display:inline-block;
  font-weight : bold;
  padding : 5px;
  text-decoration: underline;
  vertical-align:middle;
}


a.companyNameLink:hover {
  border : 2px solid;
  border-radius: 5px 5px 5px 5px;
  color: #bc252a;
  font-weight : bold;
  text-decoration: none;
}

.faqAnswer {
  margin-bottom : 5px;
  margin-top : 3px;
  text-align : justify;
}

.faqQuestion {
  color: #bc252a;
  font-size : 2rem;
  font-weight : bold;
  margin-bottom : 2px;
  margin-left : 35px;
  margin-right : 35px;
  margin-top : 5px;
  text-align : justify;
  width : 80%
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .faqQuestion {
    font-size : 1.5rem;
  }
}

.formButton {
  border : 2px solid;
  border-color : #bc252a;
  color: #bc252a;
  font-size : 2rem;
  font-weight : bold;
}

.formLabel {
  color: #bc252a;
  font-size : 2rem;
  font-weight : bold;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .formLabel {
    font-size : 1.35rem;
  }
}

.frameInformationZone {
  background-color : #fff;
  border : 2px solid;
  border-radius: 10px 10px;
  color : #bc252a;
  float : left;
  margin : 10px 10px 10px 10px;
  padding : 5px;
}

a.frameNameLink {
  color: #bc252a;
  display:inline-block;
  font-weight : bold;
  padding : 5px;
  text-decoration: underline;
  vertical-align:middle;
}


a.frameNameLink:hover {
  border : 2px solid;
  border-radius: 5px 5px 5px 5px;
  color: #bc252a;
  font-weight : bold;
  text-decoration: none;
}

.largeButton {
  margin : 5px;
}

a.largeButton {
  background : url("../img/backgrounds/legoStud/legoStud_Lighter_50_12_12.png") repeat;	
  background-color : #fff;
  border : 2px solid;
  border-color : #bc252a;
  border-top-left-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
  color: #bc252a;
  font-size : 2rem;
  font-weight : bold;
  margin : 15px;
  /*min-width : 500px;*/
  /*width : 800px;*/
  padding : 15px;
  text-shadow : 0px 0px 0 rgb(142,-9,-4), -1px 1px 0 rgb(107,-44,-39),-2px 2px 1px rgba(0,0,0,0.05),-2px 2px 1px rgba(0,0,0,0.5),0px 0px 1px rgba(0,0,0,.2);
  /*width : 95%;*/
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .largeButton {
    margin : 2px;
  }

  a.largeButton {
    font-size : 1.3rem;
    margin : 2px;
    padding : 10px;
    text-shadow : none;
  }
}

a.largeButton:focus {

}

/* Activated on tap */
a.largeButton:hover {
  background-color : #666;
  border : 8px solid;
  border-color : #f99;
  border-style : double;
  color: #f99;
  /*font-size : 2.5rem;*/
  font-weight : bold;
  text-decoration: none;
}

a.largeButton:active {
  border-color : #bc252a;
  color: #bc252a;
  /*font-size : 2rem;*/
  font-weight : bold;
  text-decoration: none;
}

a.largeButton:link {

}

a.largeButton:visited {

}

.largeRow {
  margin : 30px;
}

.mediumBackground {
  background-color : rgba(204, 204, 204, 0.75);
}

.mof0Form {
	width : 100%;
}

img.mf0FrameBigPicture {
  background-color : #fff;
  border : 4px solid;
  border-color : #bc252a;
  border-radius: 20px;
  display:inline-block;
  height:auto;
  /*max-width : 300px;*/
  /*min-height : 300px;*/
  width : 300px;
}

.mof0Legend {
  color: #bc252a;
  font-weight : bold;
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .mof0Legend {
    font-size : 1.35rem;
  }
}

img.mof0LittleGuyBackButton {
  background : url("../img/moF0LittleGuy/MoF0LittleGuy_50_57.png") no-repeat center center;
  background-color:rgba(0,0,0,0);
  border: none;
  border-style: none;
  height : 60px;
  outline:none;
  width : 60px;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  img.mof0LittleGuyBackButton {
    background : url("../img/moF0LittleGuy/MoF0LittleGuy_35_39.png") no-repeat center center;
    background-color:rgba(0,0,0,0);
    border: none;
    border-style: none;
    height : 40px;
    outline:none;
    width : 40px;
  }
}

.mf0SmallNumericInput {
  text-align : right;
  width : 2rem;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .mf0Tab {
    font-size : 1.0rem;
  }

  a.mf0Tab {
    font-size : 1.0rem;
  }

  li.mf0Tab {
    font-size : 1.0rem;
  }

  ul.mf0Tab {
    font-size : 1.0rem;
  }
}

.mfzTabContent {
  background-color : #ccc;
  padding : 15px;
  text-align : justify;
}

.nav-tabs > li > a {
  color: #bc252a;
  font-size : 1.75rem;
  font-weight : bold;
}

.pageSection {
  background-color : rgba(226, 226, 226, 0.85);
  /*background-color : #e2e2e2;*/
  background-image : url('../img/moF0LittleGuy/MoF0LittleGuyPageSection_382_431.png');
  background-repeat : no-repeat;
  /*background-attachment : fixed;*/
  background-position : left center; 
  border-width : 6px;
  border-style : double;
  border-color : #bc252a;
  border-top-right-radius: 20px 20px;
  border-bottom-left-radius: 20px 20px;
  margin : 5px;
  min-height : 500px;
  /*padding : 5px;*/
  width : 95%;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .pageSection {
    background-image : url('../img/moF0LittleGuy/MoF0LittleGuyPageSection_191_216.png');
    min-height : 250px;
  }
}

.pageTitle {
  border-style : solid;
  border-bottom-width : 5px;
  border-left-width : 0px;
  border-right-width : 0px;
  border-top-width : 0px;
  color : #bc252a;
  font-size : 3.5rem;
  font-weight : bold;
  margin : 5px;
  padding-bottom : 15px;
  padding-top : 15px;
  text-shadow:0px 0px 0 rgb(142,-9,-4), -1px 1px 0 rgb(107,-44,-39),-2px 2px 1px rgba(0,0,0,0.05),-2px 2px 1px rgba(0,0,0,0.5),0px 0px 1px rgba(0,0,0,.2);
  width : 90%;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .pageTitle {
    font-size : 1.5rem;
    text-shadow : none;
  }
}

.smallButton {
  margin : 5px;
}

a.smallButton {
  background : url("../img/backgrounds/legoStud/legoStud_Lighter_50_12_12.png") repeat;	
  background-color : #fff;
  border : 2px solid;
  border-color : #bc252a;
  border-top-left-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
  color: #bc252a;
  font-size : 2rem;
  font-weight : bold;
  margin : 15px;
  /*min-width : 500px;*/
  /*width : 800px;*/
  padding : 5px;
  text-shadow : 0px 0px 0 rgb(142,-9,-4), -1px 1px 0 rgb(107,-44,-39),-2px 2px 1px rgba(0,0,0,0.05),-2px 2px 1px rgba(0,0,0,0.5),0px 0px 1px rgba(0,0,0,.2);
  /*width : 95%;*/
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .smallButton {
    margin : 2px;
  }

  a.smallButton {
    font-size : 1.3rem;
    margin : 2px;
    padding : 5px;
    text-shadow : none;
  }
}

a.smallButton:focus {

}

/* Activated on tap */
a.smallButton:hover {
  background-color : #666;
  border : 8px solid;
  border-color : #f99;
  border-style : double;
  color: #f99;
  /*font-size : 2.5rem;*/
  font-weight : bold;
  text-decoration: none;
}

a.smallButton:active {
  border-color : #bc252a;
  color: #bc252a;
  /*font-size : 2rem;*/
  font-weight : bold;
  text-decoration: none;
}

a.smallButton:link {

}

a.smallButton:visited {

}

.systemDiceList {
  background-color : #fff;
  border : 2px solid;
  border-radius: 10px 10px;
  color : #bc252a;
  margin : 5px 5px 5px 5px;
  padding : 5px;
}

.systemDiceZone {
  background-color : #fff;
  border : 2px solid;
  border-radius: 10px 10px;
  color : #bc252a;
  float : left;
  margin : 10px 10px 10px 10px;
  padding : 5px;
}


.systemDie {
  float : left;
  margin : 5px 5px 5px 5px;
}


.systemRow {
  background-color : #fff;
  border : 2px solid;
  border-radius: 10px 10px;
  color : #bc252a;
  /*display: block;
  margin : 0px auto 10px 10px;*/
  margin : 10px 10px 10px 10px;
  padding : 5px;
  /*width : 90%;*/
}

.tableHeader {
  text-align : center;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .tableHeader {
    font-size : 1rem;
  }
}

.tableData {

}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .tableData {
    font-size : 1rem;
  }
}