body {
  background: #eee;
}
h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 1.2em;
}
.container {
  background: #fff;
  border-radius: 0 0 2rem 2rem;
  padding: 0;
  margin: 0 auto 2rem
}
.pageSection {
  padding: 2rem;
}
div.largeButton {
  display: inline-block;
}
a.largeButton,
a.largeButton:link,
a.largeButton:visited {
  background: #fff;
  color: #900;
  border: solid 0.5rem #900;
  border-radius: 0 2rem 0 2rem;
  padding: 1rem;
  margin: 0 1rem 1rem 0;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.5);
}
a.largeButton:hover,
a.largeButton:active,
a.largeButton:focus {
  background: #900;
  color: #fff;
  text-decoration: none;
}

/* Titlebar */
.pageTitle {
  background: #900;
  color: #fff;
  font-weight : bold;
  margin: 0;
  min-height: 6rem;
  padding: 1rem 2rem;
  position: relative;
}

a.backButton,
a.backButton:link,
a.backButton:visited {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: #900;
  text-decoration: none;
  /*box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.5);*/
  padding: 1rem;
}
a.backButton:hover,
a.backButton:active,
a.backButton:focus {
  background: #aaa;
}
a.backButton span {
  font-size: 2em;
  line-height: 1;
  color: #fff;
  background: url(../img/icons/c6-front.png) no-repeat right center transparent;
  background-size: auto 100%;
  display: block;
  padding: 0 3.5rem 0 0;
  margin: 0;
}
.pageTitle .title {
  display: block;
  margin: 1rem 0 1rem 6rem;
}
.pageTitle .main-title {
  margin: 1rem;
  text-align: center;
}

/* Home page */

.home a.backButton {
  text-indent: -1000em;
}
.home h2 {
  display: inline-block;
  margin: 1rem;
}

/* Frame detail page */
.framedetail .table .radio {
  margin: 0;
}
.framedetail .table .radio label {
  display: block;
  padding: 10px;
}
.framedetail .systemDiceZone {
  display: inline-block;
}
.framedetail .systemDie {
  display: inline-block;
  margin: 0 0.5rem 0.5rem 0;
}

/* Setup Battlefield page */
#accordion .panel-heading {
  padding: 0;
}
#accordion .panel-title span {
  display: block;
  padding: 1rem;
}

img.mf0CompanyBigPicture {
  background-color : #fff;
  border : 0.5rem solid;
  border-color : #bc252a;
  border-radius: 3rem;
  display:inline-block;
  height:auto;
  width : 30rem;
}

img.mf0CompanyThumbnail {
  background-color : #fff;
  border : 0.25rem solid;
  border-color : #bc252a;
  border-radius: 2rem;
  display:inline-block;
  height:auto;
  width : 10rem;
}

img.mf0FrameBigPicture {
  background-color : #fff;
  border : 0.5rem solid;
  border-color : #bc252a;
  border-radius: 3rem;
  display:inline-block;
  height:auto;
  width : 30rem;
}

img.mf0FrameThumbnail {
  background-color : #fff;
  border : 0.25rem solid;
  border-color : #bc252a;
  border-radius: 2rem;
  display:inline-block;
  height:auto;
  width : 10rem;
}

.mf0SmallNumericInput {
  text-align : right;
  width : 4rem;
}

div.smallButton {
  display: inline-block;
}

a.smallButton,
a.smallButton:link,
a.smallButton:visited {
  background: #fff;
  color: #900;
  border: solid 0.35rem #900;
  border-radius: 0 2rem 0 2rem;
  padding: 1rem;
  margin: 0 1rem 1rem 0;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.5);
}

a.smallButton:hover,
a.smallButton:active,
a.smallButton:focus {
  background: #900;
  color: #fff;
  text-decoration: none;
}

.systemDiceList {
  /*background-color : #fff;
  border : 0.2rem solid;
  border-radius: 0.5rem 0.5rem;
  color : #bc252a;
  margin : 0.1rem 0.1rem 0.1rem 0.1rem;
  padding : 0.2rem;*/
}

.systemDiceZone {
  background-color : #fff;
  border : 0.2rem solid;
  border-radius: 0.5rem 0.5rem;
  color : #bc252a;
  float : left;
  margin : 0.5rem 0.5rem 0.5rem 0.5rem;
  padding : 0.1rem;
}

.systemDie {
  float : left;
  margin : 0.1rem 0.1rem 0.1rem 0.1rem;
}

.systemRow {
  background-color : #fff;
  border : 0.2rem solid;
  border-radius: 0.5rem 0.5rem;
  color : #bc252a;
  margin : 0.2rem;
  padding : 0.1rem;
}

.tableHeader {
  text-align : center;
}