.largeButton {
  margin : 5px;
}

a.largeButton {
  background-color : #ffffff;
  border : 2px solid;
  border-color : #bc252a;
  border-top-left-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
  font-weight : bold;
  margin : 15px;
  /*min-width : 500px;*/
  padding : 15px;
  /*width : 95%;*/
}

a.largeButton:active, a.largeButton:hover {
  border-color : #cc353a;
  color: #cc353a;
  font-weight : bold;
  text-decoration: none;
}

a.largeButton:focus, a.largeButton:link, a.largeButton:visited {
  color: #bc252a;
  font-weight : bold;
  text-decoration: none;
}

.largeRow {
  margin : 30px;
}

.pageSection {
  background-color : #e2e2e2;
  background-image : url('../img/moF0LittleGuy/MoF0LittleGuyPageSection.png');
  background-repeat : no-repeat;
  /*background-attachment : fixed;*/
  background-position : left center; 
  border-width : 6px;
  border-style : double;
  border-color : #bc252a;
  border-top-right-radius: 20px 20px;
  border-bottom-left-radius: 20px 20px;
  margin : 5px;
  /*padding : 5px;*/
  width : 95%;
}

.pageTitle {
  border-style : solid;
  border-bottom-width : 5px;
  border-left-width : 0px;
  border-right-width : 0px;
  border-top-width : 0px;
  color : #bc252a;
  font-size : 4rem;
  font-weight : bold;
  margin : 5px;
  width : 90%;
}
