/*{
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
}*/

/*a.active {
 background: #AAA;
}
element.addEventListener('touchstart',function(e) {
 e.currentTarget.className = "active";
});*/

.backButton {
  background-color : #e2e2e2;
  border : 2px solid;
  border-color : #bc252a;
  border-top-left-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
  margin-bottom : 30px;
  margin-left : 0px;
  margin-right : 5px;
  margin-top : 30px;
  padding-bottom : 15px;
  padding-left : 10px;
  padding-right : 10px;
  padding-top : 12px;  
}

a.backButton:hover {
  background-color : #666;
  border : 4px solid;
  border-color : #f99;
  color: #f99;
}

a.backButton:active {
  border-color : #bc252a;
  color: #bc252a;
}

.columnLabel {
  font-weight : bold;
}

.formButton {
  border : 2px solid;
  border-color : #bc252a;
  color: #bc252a;
  font-size : 2rem;
  font-weight : bold;
}

.formLabel {
  color: #bc252a;
  font-size : 2rem;
  font-weight : bold;
}

.largeButton {
  margin : 5px;
}

a.largeButton {
  background-color : #fff;
  border : 2px solid;
  border-color : #bc252a;
  border-top-left-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
  color: #bc252a;
  font-size : 2rem;
  font-weight : bold;
  margin : 15px;
  /*min-width : 500px;*/
  /*width : 800px;*/
  padding : 15px;
  /*width : 95%;*/
}

a.largeButton:focus {

}

/* Activated on tap */
a.largeButton:hover {
  background-color : #666;
  border : 8px solid;
  border-color : #f99;
  border-style : double;
  color: #f99;
  /*font-size : 2.5rem;*/
  font-weight : bold;
  text-decoration: none;
}

a.largeButton:active {
  border-color : #bc252a;
  color: #bc252a;
  /*font-size : 2rem;*/
  font-weight : bold;
  text-decoration: none;
}

a.largeButton:link {

}

a.largeButton:visited {

}

.largeRow {
  margin : 30px;
}

.mediumBackground {
  background-color : #ccc;
}

.mof0Form {
	width : 100%;
}

.mof0Legend {
  color: #bc252a;
  font-weight : bold;
}

.pageSection {
  background-color : #e2e2e2;
  background-image : url('../img/moF0LittleGuy/MoF0LittleGuyPageSection.png');
  background-repeat : no-repeat;
  /*background-attachment : fixed;*/
  background-position : left center; 
  border-width : 6px;
  border-style : double;
  border-color : #bc252a;
  border-top-right-radius: 20px 20px;
  border-bottom-left-radius: 20px 20px;
  margin : 5px;
  /*padding : 5px;*/
  width : 95%;
}

.pageTitle {
  border-style : solid;
  border-bottom-width : 5px;
  border-left-width : 0px;
  border-right-width : 0px;
  border-top-width : 0px;
  color : #bc252a;
  font-size : 3.5rem;
  font-weight : bold;
  margin : 5px;
  padding-bottom : 15px;
  padding-top : 15px;
  width : 90%;
}

.systemRow {
  background-color : #fff;
  border : 2px solid;
  border-radius: 10px 10px;
  color : #bc252a;
  /*display: block;
  margin : 0px auto 10px 10px;*/
  margin : 10px 10px 10px 10px;
  padding : 5px;
  /*width : 90%;*/
}